.header-spacer {
  height: 85px;
}
.header {
  height: 85px;
  border-bottom: 1px solid var(--gray);
  background: white;

  &.is-photo-route {
    .header__back {
      display: block;
    }
    .header__divider {
      display: none;
    }
    .header__search {
      display: none;
    }
  }
}
.header__inner {
}
.header__logo {
  color: var(--gray);
  height: 85px;
  transition: color var(--fast) var(--ease);

  /* .outer */
  padding-left: 1.5em;
  @media (--600) {
    padding-left: 2.5em;
  }

  svg {
    width: 45px;
    height: auto;
  }

  &:hover {
    color: var(--black);
  }
}
.header__divider {
  top: -1px;
}
.header__search {
  border: 0;
}
.header__search input[type='search'] {
  height: 85px;
  padding: 1.1em 0 1.2em;
  border: 0;

  &:required {
    box-shadow: none;
  }
  &:invalid ~ button {
    display: none;
  }
  &::placeholder {
    color: var(--gray);
  }
  &:focus {
    & ~ button {
      color: var(--black);
    }
  }
}
.header__search input[type='submit'] {
  display: none;
}
.header__search button {
  width: 85px;
  height: 85px;
  padding: 0 0 5px 0;
  background: transparent;
  color: var(--gray);
  transition: color var(--fast) var(--ease);
  font-size: 28px;

  &:hover {
    color: var(--black);
  }
}

.header__back {
  display: none;
  margin-left: 2em;
}

.header__menu-toggle {
  height: 45px;
  min-width: 45px;
  padding: 0;
  margin-right: 1.5em;
  background: transparent;
  color: var(--black);
  transition: transform var(--fast) var(--ease);

  @media (--600) {
    margin-right: 2.5em;
  }

  span,
  span::before,
  span::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 7px;
    width: 7px;
    border-radius: 100px;
    background: currentColor;
    transition: transform var(--fast) var(--ease);
  }
  span::before {
    transform: translateX(-15px);
  }
  span::after {
    transform: translateX(15px);
  }

  &:hover {
    transform: rotate(90deg);

    span::before,
    span::after {
      transform: translateX(0) scale(3);
    }
  }
}

.header__mid {
  padding-left: 1.5em;
  @media (--600) {
    padding-left: 2.5em;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0;
    height: 85px;
    margin: auto 0;
    width: 1px;
    background: var(--gray);
  }
}

.header__collections {
  margin-right: 1.5em;
  height: 85px;

  @media (--600) {
    margin-right: 2em;
  }

  button {
    background: white;
    font-size: 0.875rem;
    font-family: inherit;
    padding: 0.3em 1.2em 0.4em 0;
    opacity: 0.5;
    transition: opacity 200ms var(--ease);

    &:hover {
      opacity: 1;

      & + .header__collections__drop {
        visibility: visible;
      }
    }

    img {
      width: 10px;
      top: 8px;
    }
  }
}
.header__collections__drop {
  visibility: hidden;
  background: white;
  padding: 1em 0.5em ;
  border-radius: 6px;
  min-width: 270px;
  transform: translateY(100%) translateY(-1.5em);
  box-shadow: 0 4px 12px rgba(33, 56, 65, 0.2);

  &::hover {
    visibility: visible;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0.3em 1.8em 0.3em 0;

    &:hover {
      img {
        opacity: 1;
      }
    }

    img {
      display: block;
      position: absolute;
      top: 12px; right: 0;
      width: 8px;
      opacity: 0.2;
      transition: opacity 200ms var(--ease);
    }
  }

  ul {
    padding: 0 1.4em;
  }
}
.header__donate {
  margin-right: 1.5em;

  @media (--600) {
    margin-right: 2em;
  }
}
