@import 'svbstrate/src/lib/reset.css';
@import 'svbstrate/src/lib/display.css';
@import 'svbstrate/src/lib/positioning.css';
@import 'svbstrate/src/lib/flexbox.css';
@import 'svbstrate/src/lib/align.css';
@import 'svbstrate/src/lib/spacing.css';
@import 'svbstrate/src/lib/buttons.css';
@import 'svbstrate/src/lib/forms.css';
@import 'svbstrate/src/lib/lists.css';
@import 'svbstrate/src/lib/z-index.css';

@import './var.css';
@import './typography.css';
@import './containers.css';

@import './components/buttons.css';
@import './components/header.css';
@import './components/grid.css';
@import './components/photo.css';
@import './components/load-more.css';
@import './components/image.css';

html {
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50" fill="213841" /></svg>');
  background-size: 10px 10px;
  background-position: center;
}
